body {
  background-color: #fff;
}

.wrapper {
  margin: 5px;
  padding: 10px;
  background-color: cyan;
}

input[type="text"] {
  width: clamp(300px, 80%, 1200px);
}

#chat {
  margin-top: 8px;
  padding: 2px;
  background-color: lawngreen;
}

.message {
  background-color: lightcyan;
}

.incoming {
  margin: 2px;
  padding: 0px 2px;
  background-color: lightcyan;
  border: 1px solid darkgreen;
}

.time {
  font-size: 8px;
  color: blue;
}

.user {
  font-size: 10px;
  color: red;
}
