body {
  background-color: #fff;
  font-size: 16px;
}

.wrapper {
  margin: 5px;
  padding: 10px;
  background-color: cyan;
}

.typing {
  display: none
}

input[type="text"] {
  width: clamp(300px, 80%, 500px);
  margin-bottom: 10px;
}

input[type="password"] {
  width: clamp(246px, 65%, 400px);
}

#chat {
  display: none;
  margin-top: 8px;
  padding: 2px;
  background-color: lawngreen;
}

.message {
  background-color: lightcyan;
}

.incoming {
  margin: 2px;
  padding: 0px 2px;
  background-color: lightcyan;
  border: 1px solid darkgreen;
}

.time {
  font-size: .75rem;
  color: blue;
}

.user {
  font-size: .9rem;
  color: red;
}
